*{
  background-color: #CEF0F9;
  text-decoration: none;
  font-family: "FreeMono", monospace;
  font-size: 25px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='30' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
  border-width: medium;
}
.navbar-brand{
  margin-left: 5em;
}
.nav-link{
  margin-left: 2em;
}
#hd{
  height: auto;
  width: 100%;
}
.fam{
  background-color: transparent;
}
@media only screen and (max-width: 768px){
  #fam{
    width:auto;
    height: auto;
  }
}
.center{
 display: block;
 margin: auto auto;
 width: 30%;
 /*padding-top: 50px;*/
}
ul a{
  color: #D785E7;
  text-decoration: none;
}
ul a:hover{
  color: #9630AB;
}
#yc{
  grid-template-columns: auto;
  text-align: center;
  /*width: 300px;
  text-align: center;
  margin: 0px 0px 0px 525px;*/
}
#con{
  background-color: #CEF0F9;
  padding-top: 50px;
  padding-left: 3em;
  padding-right: 3em;
}
.link{
  text-decoration: none;
  padding-top: 30px;
  text-align: center;
  grid-template-columns: auto auto auto;
  grid-gap: 50px 100px;
  display: grid;
  justify-content: center;
}
.ltt{
  width: 48px;
}
@media only screen and (max-width: 768px) {
  .link{
    text-decoration: none;
    padding-top: 30px;
    text-align: center;
    grid-template-columns: auto;
    display: grid;
    justify-content: center;
  }
}
